
#root {
  /* background-color: #ccc; */
}

nav {
  box-shadow: 0px 3px 6px 0px #ccc;
  padding: 20px 0 12px 0;
}
.nav-wrapper {
  height: 60px;
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .header-left {
  flex: 1;
}

.nav-wrapper .brand-logo {
  font-size: 30px;
  /* line-height: 100px; */
  /* border: 1px solid red; */
  position: relative;
  top: 4px;
}

.nav-wrapper .header-right {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrapper .header-right-auth {
  display: flex;
}

.nav-wrapper .header-right-auth li {
  padding: 10px;
}

.button-group {
  border: 1px solid #46b8da;
  background-color: #5bc0de;
  border-radius: 3px;
  margin-left: 8px;
  padding: 12px 10px 8px 10px;
  font-size: 16px;
  color: #fff;
}

.button-group:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

#profile-btn {
  width: 70px;
  text-align: center;
}

#logout-btn {
  width: 70px;
  text-align: center;
}

#login-btn{
  width: 70px;
  text-align: center;
}

#demo-btn{
  width: 70px;
  text-align: center;
}
