.homepage-main {
  width: 100%;
}

.homepage-hero {
    min-width: 880px;
  margin: 0 auto;
  background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1524589755/food-allergy.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -180px;
  position: relative;
}

.header-backcolor {
  position: absolute;
  top: 60px;
  height: 200px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.homepage-header {
  width: 70%;
  min-width: 700px;
  margin: 0 auto;
  height: 360px;
  color: #fff;
  text-shadow: 1px 1px 8px #000;
}



.homepage-header h1 {
  font-size: 56px;
  padding: 100px 10px 0px 10px;
  /* background: #ccc; */
  /* position: relative; */
  /* top: 140px; */
  position: relative;
}

.homepage-header p {
  width: 70%;
  font-size: 18px;
  margin: 30px 10px;
  /* position: relative; */

  /* top: 160px; */
  position: relative;
}

.homepage-body {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.homepage-body aside {
  flex: 1;
  padding: 20px;
}


.homepage-body .homepage-content {
  flex: 6;
  padding: 20px;
}

.homepage-section {
  border: 2px solid red;
}
