.homepage-main {
  width: 100%;
}

.homepage-hero {
    min-width: 880px;
  margin: 0 auto;
  background-image: url("http://res.cloudinary.com/chengzii/image/upload/v1524589755/food-allergy.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -180px;
  position: relative;
}

.header-backcolor {
  position: absolute;
  top: 60px;
  height: 200px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.homepage-header {
  width: 70%;
  min-width: 700px;
  margin: 0 auto;
  height: 360px;
  color: #fff;
  text-shadow: 1px 1px 8px #000;
}

.symptoms-ul {
  margin: 10px 0 20px 30px;
}

.symptoms-ul li {
  list-style:square;
  color: #e68028;
}



.homepage-header h1 {
  font-size: 56px;
  padding: 100px 10px 0px 10px;
  /* background: #ccc; */
  /* position: relative; */
  /* top: 140px; */
  position: relative;
}

.homepage-header p {
  width: 70%;
  font-size: 18px;
  margin: 30px 10px;
  /* position: relative; */

  /* top: 160px; */
  position: relative;
}

.homepage-body {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
}

.homepage-body aside {
  flex: 1;
  padding: 20px;
  /* background: #f5f5f5; */
  background: linear-gradient(to right, #ffffff , #f5f5f5);
}

.body-nav {
  /* position: fixed; */
  font-size: 18px;
  height: 42px;
  line-height: 48px;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
  /* position: sticky; */
/* position: -webkit-sticky; */
}

.body-nav:hover {
  /* border-bottom: 1px solid #ccc; */
  background-color: #eee;
}


.homepage-body .homepage-content {
  flex: 5;
  padding: 20px 40px;
}

.homepage-content {
  box-shadow: 0px 3px 6px 0px #ccc;
  border-bottom: 1px solid #ccc;
}
.homepage-section {
  margin-bottom: 40px;
}

.homepage-section h3 {
  font-size: 36px;
  margin: 10px 0;
  color: #079eda;
}

.section-content {
  line-height: 24px;
}

#backToTop {
  border: 1px solid #eee;
  position: fixed;
  width: 40px;
  height: 30px;
  line-height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #ccc;
  color: #fff;
  bottom: 10px;
  margin-left: 10px;
  display: none;
}

#backToTop:hover {
  background: grey;
}
