.ingredientList {
  width: 76%;
  min-width: 700px;
  margin: 20px auto;
  box-shadow: 0px 3px 6px 0px #ccc;
  padding: 20px;
}


.ingredientList h2 {
  font-size: 24px;
  padding: 10px;
}

.ingredientList h5 {
  font-size: 24px;
}

.product-detail h5 {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
  padding: 16px 10px 10px 10px;
  background-color: #eee;
}

.product-detail ul {
  margin-bottom: 30px;
}

.ing-ul li {
  border-bottom: 1px solid #ccc;
  height: 36px;
  line-height: 44px;
  padding: 0 20px;
}

.error-ul {
  padding: 5px;
}

.hightlight {
  background: red;
  color: #fff;
}
