.search-form {
  background: #fff;
  width: 90%;
  height: 36px;
  line-height: 38px;
  position: relative;
  bottom: 2px;
  min-width: 400px;
}

.search-form input:first-of-type {
  border: 1px solid #ccc;
  border-right: none;
  padding: 4px 10px;
  width: 74%;
  height: 80%;
}

.search-form .submit {
  background: grey;
  color: #fff;
  padding: 13px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-form .submit:hover {
  background: #ccc;
}
